[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
mesa = "*"
networkx = "*"
matplotlib = "*"
scipy = "*"
pylint = "*"

[scripts]
run="python src/simulation/run.py"
lint="pylint src"
clear="rm -rf out/"
