[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
nose2="*"
pylint = "*"
black = "*"
py-spy = "*"

[packages]
mesa = "*"
networkx = "*"
matplotlib = "*"
scipy = "*"
kaleido = "*"
palettable = "*"
lxml = "*"

[scripts]
start="python src/simulation/run.py"
spy="py-spy top --subprocesses -- python src/simulation/run.py"
lint="pylint src/simulation"
clear="rm -rf out/"
test="python -m nose2 --with-coverage"
analyze="python src/analyze/main.py"
format="black ."
uml_models="pyreverse -o png -d uml/ -p Models src/simulation/models"
uml_agents="pyreverse -o png -d uml/ -p Agents src/simulation/agents"

[pipenv]
allow_prereleases = true
